.form-text {
  background-color: #e0e635;
}

.cart-empty-page {
  background-color: #9c6d1c;
}

.messages {
  background-color: #7bc229;
  font-style: italic;
}

.views-field {
  background-color: transparent;
}

